<!-- hr-admin-dashboard.component.html -->
<div class="page-container">
  <!-- FILTER SECTION -->
  <div class="filter-card">
    <div class="filter-row-single">

      <!-- Manager + Employee (2 columns internally) -->
      <div class="manager-employee-col">
        <app-manager-employee-filter [(managerValue)]="filters.managerName" [(employeeValue)]="filters.employeeName"
          gap="2vw">
        </app-manager-employee-filter>
      </div>

      <!-- From Date -->
      <div style="display: flex; gap: 2vw;">
        <div class="form-row">
          <label>From date</label>
          <input type="date" class="date-input" [(ngModel)]="filters.fromDate" [max]="maxFromDate"
            (change)="onDateChange()" style="width: 20vw;" />
        </div>

        <!-- To Date -->
        <div class="form-row">
          <label>To date</label>
          <input type="date" class="date-input" [(ngModel)]="filters.toDate" [min]="minToDate" (change)="onDateChange()"
            style="width: 20vw;" />
        </div>
      </div>

      <!-- Buttons -->


    </div>
    <div class="filter-actions">
      <app-common-form-action (reset)="resetFilters()" (submit)="applyFilters()">
      </app-common-form-action>
    </div>
  </div>


  <!-- TABLE SECTION WITH FIXED HEADER -->
  <div class="table-card">
    <div class="table-wrapper">
      <p-table [value]="hrData" class="p-datatable-gridlines" [lazy]="true" (onLazyLoad)="onLazyLoad($event)"
        [paginator]="true" [rows]="20" [totalRecords]="totalRecords" [rowsPerPageOptions]="[20, 50, 100, 200]"
        [scrollable]="true" scrollHeight="calc(100vh - 400px)" sortMode="multiple" #hrTable>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="employeeNumber" [style.min-width.px]="120" class="first-header ">
              Employee ID
              <p-sortIcon field="employeeNumber"></p-sortIcon>
            </th>

            <th pSortableColumn="employeeName" [style.min-width.px]="180" class="second-header ">
              Employee Name
              <p-sortIcon field="employeeName"></p-sortIcon>
            </th>

            <th pSortableColumn="designation" [style.min-width.px]="150">
              Designation
              <p-sortIcon field="designation"></p-sortIcon>
            </th>

            <th pSortableColumn="managerName" [style.min-width.px]="180">
              Manager Name
              <p-sortIcon field="managerName"></p-sortIcon>
            </th>

            <th pSortableColumn="workingDays" [style.min-width.px]="120">
              Working Days
              <p-sortIcon field="workingDays"></p-sortIcon>
            </th>

            <th pSortableColumn="presentDays" [style.min-width.px]="120">
              Present Days
              <p-sortIcon field="presentDays"></p-sortIcon>
            </th>

            <!-- <th pSortableColumn="holidaysDays" [style.min-width.px]="120">
              Holiday Days
              <p-sortIcon field="holidaysDays"></p-sortIcon>
            </th> -->

            <th pSortableColumn="leaveDays" [style.min-width.px]="120">
              Leave Days
              <p-sortIcon field="leaveDays"></p-sortIcon>
            </th>



            <th pSortableColumn="TOTAL" [style.min-width.px]="150">
              Applied Exceptions
              <p-sortIcon field="TOTAL"></p-sortIcon>
            </th>

            <th pSortableColumn="APPROVED" [style.min-width.px]="160">
              Accepted Exceptions
              <p-sortIcon field="APPROVED"></p-sortIcon>
            </th>

            <th pSortableColumn="REJECTED" [style.min-width.px]="160">
              Rejected Exceptions
              <p-sortIcon field="REJECTED"></p-sortIcon>
            </th>

            <th pSortableColumn="PENDING" [style.min-width.px]="150">
              Pending Exceptions
              <p-sortIcon field="PENDING"></p-sortIcon>
            </th>
            <th pSortableColumn="deficiencyDays" [style.min-width.px]="140">
              Deficiency Days
              <p-sortIcon field="deficiencyDays"></p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rec>
          <tr>
            <td class="first-col">{{ rec.employeeNumber }}</td>
            <td class="second-col">{{ rec.employeeName }}</td>
            <td>{{ rec.designation }}</td>
            <td>{{ rec.managerName }}</td>
            <td style="text-align: center;">{{ rec.workingDays }}</td>
            <td style="text-align: center;">{{ rec.presentDays }}</td>
            <!-- <td style="text-align: center;">{{ rec.holidaysDays }}</td> -->
            <td style="text-align: center;">{{ rec.leaveDays }}</td>

            <td style="text-align: center;">{{ rec.TOTAL }}</td>
            <td style="text-align: center;">{{ rec.APPROVED }}</td>
            <td style="text-align: center;">{{ rec.REJECTED }}</td>
            <td style="text-align: center;">{{ rec.PENDING }}</td>
            <td style="text-align: center;">
              <span class="deficiency-badge">{{ rec.deficiencyDays }}</span>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
          <span class="total-records">Total Records: {{ hrData.length }}</span>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="13" style="text-align: center; padding: 20px;">
              No records found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>