.manager-employee-inline {
    display: flex;
    gap: 0.5vw;
    /* min-width: 40vw; */
    max-width: 50vw !important;
    justify-content: space-between !important;
    width: 100%;

}

.form-row {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 6px;
    color: #374151;
}