<app-header [header]="commonService.header" [role]="role"></app-header>

<div class="tabs-wrapper" [class.hidden]="!(commonService.loading === false || token)">
  <div class="tabs">
    <button *ngFor="let item of tabs; let i = index" [class.active]="item.isActive" (click)="navigateTo(item.path)">
      {{ item.label }}
    </button>
    <div class="select-wrapper"
      *ngIf="(((role == 'MANAGER'|| department ==='HR') &&   role !=='ADMIN' && isDashboardPage) ) || isAttendanceDashboardPage">
      <div *ngIf="isDashboardPage" class="select-view-wrapper">
        <label for="" class="approvalView">Approval View: &nbsp;</label>
        <select [(ngModel)]="commonService.selectedView" (change)="onViewChange($event)" class="styled-select">
          <option value="all" *ngFor="let option of viewOptions" [value]="option.value">{{option.label}}</option>
        </select>
      </div>
      <select [(ngModel)]="commonService.attendanceView" (change)="onViewChange($event,true)" class="styled-select"
        *ngIf="isAttendanceDashboardPage">
        <option value="all" *ngFor="let option of attendanceViewOptions" [value]="option.value">{{option.label}}
        </option>
      </select>
      <span class="select-arrow">
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none">
          <path d="M1 1.5L6 6.5L11 1.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </span>
    </div>
  </div>

  <div class="tab-content" *ngIf="!isAuthenticating">
    <router-outlet></router-outlet>
  </div>
</div>

<app-common-loader *ngIf="commonService.loading"></app-common-loader>