.tabs-wrapper {
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.tabs button {
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s, color 0.3s;
  color: #333;
  /* main color */
}

.tabs button:hover {
  background-color: #e6f0ff;
  /* subtle hover */
}

.tabs button.active {
  background-color: #007ad9;
  /* active background */
  color: #fff;
  /* active text */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}


.tab-content {
  margin-top: 1rem;
}

.hidden {
  display: none;
}

.approvalView {
  font-weight: 800;
  color: #e65100;
  font-size: 16px;
  text-decoration: double;
}