<div class="dashboard-page">

  <!-- FILTER CARD -->
  <div class="dashboard-filter">

    <app-manager-employee-filter [(managerValue)]="filters.manager" [(employeeValue)]="filters.employee">
    </app-manager-employee-filter>


    <app-common-form-action (submit)="applyFilter()" (reset)="resetFilters()">
    </app-common-form-action>

  </div>


  <!-- TABLE CARD -->
  <div class="dashboard-table-card">

    <p-table #dt [value]="requests" [lazy]="true" [paginator]="true" [rows]="limit" [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[10, 20, 50]" scrollable="true" scrollHeight="70vh" class="dashboard-table"
      (onLazyLoad)="onPageChange($event)">

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 60px;">
            <input type="checkbox" [(ngModel)]="allSelected" (change)="selectAllChange($event)" />
          </th>

          <th>Employee Id</th>
          <th>Employee Name</th>
          <th>Designation</th>
          <th>Manager Name</th>
          <th>Exception Date</th>
          <th>Submission Date</th>
          <th>Status</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row>
        <tr [ngClass]="row.checked ? 'row-checked' : ''">
          <td>
            <input type="checkbox" [checked]="row.checked" (change)="toggleSelection(row, $event)" />
          </td>

          <td>{{ row.id }}</td>
          <td>{{ row.employeeName }}</td>
          <td>{{ row.designation || '-' }}</td>
          <td>{{ row.managerName }}</td>
          <td>{{ row.exceptionDate }}</td>
          <td>{{ row.submissionDate }}</td>

          <td>
            <span class="status-rejected">REJECTED</span>
          </td>
        </tr>
      </ng-template>

    </p-table>

  </div>

  <!-- ACTION BAR -->
  <div class="action-bar">
    <button pButton label="Approve" class="p-button-success" (click)="approveSelected()" [disabled]="!requests.length">
    </button>
  </div>

</div>