<div class="mail-submit-actions">

    <!-- Weekly & Monthly buttons -->
    <div class="mail-buttons">
        <button pButton type="button" class="p-button-info send-button" (click)="onSendWeekly()" style="gap: 0;">
            Send <span class="small-span">(Last Week)</span>
        </button>

        <button pButton type="button" class="p-button-help send-button" (click)="onSendMonthly()" style="gap: 0;">
            Send <span class="small-span">(Last Month)</span>
        </button>
    </div>

    <!-- Common submit/reset -->
    <app-common-form-action [showSubmit]="showSubmit" [resetBtn]="showReset" (submit)="onSubmit()" (reset)="onReset()"
        [submitLabel]="submitLabel"></app-common-form-action>

</div>