.mail-submit-actions {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 16px;
}

.mail-buttons {
    display: flex;
    gap: 12px;
}

.small-span {
    font-size: 10px;
}

.send-button {
    max-width: 120px;
    min-width: 120px;
    width: 120px;
    flex-direction: column;
}