.mail-submit-actions {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 16px;
}

.mail-buttons {
    display: flex;
    gap: 12px;
}

.small-span {
    font-size: 10px;
}

button {
  font-weight: 600 !important;
  max-width: 100px;
  min-width: 100px;
  height: 37px;
  font-size: 0.5rem;
  display: flex;
    flex-direction: column;
  span:first-child{
    font-size: 0.6rem;
  }
  span:nth-child(2) {
  font-size: 0.5rem;
}
}

.send-button:disabled,
.send-button.p-disabled {
    background-color: #d1d5db !important;
    /* light gray */
    border-color: #d1d5db !important;
    color: #6b7280 !important;
    /* dark gray text */
    cursor: not-allowed;
    opacity: 1;
    /* prevents PrimeNG from fading */
}