::ng-deep .p-button {
  display: flex;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 10px;
}

button {
  font-weight: 600 !important;
  max-width: 100px;
  min-width: 100px;
  height: 37px;
  font-size: 0.7rem;
}