/* Reuse dashboard look */
:host {
    display: block;
}

/* Align buttons properly inside grid */
.form-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

/* Match dashboard table icon color */
.table-header i {
    color: #4f46e5;
}

/* Reduce button size inside table */
::ng-deep .p-button.p-button-text {
    padding: 6px 8px;
}

/* Align filter buttons like dashboard */
.action-row {
    display: flex;
    align-items: flex-end;
}

.form-actions {
    display: flex;
    gap: 12px;
}

/* Remove weird center spacing */
.form-grid {
    align-items: end;
}

.p-button.p-button-success {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.header-right {
    width: 30%;
    display: flex;
    gap: 8px;
    justify-content: end;
}

.week-nav {
    display: flex;
    align-items: center;
    gap: 2em;
    width: 70%;
    justify-content:space-between ;
}

.week-range {
    font-weight: 600;
    font-size: 14px;
    color: #444;
    min-width: 120px;
    text-align: center;
}

.pagination-bar {
    display: flex;
    justify-content: right;
    align-items: center;

    padding: 12px 16px;
    margin-top: 12px;

    border-top: 1px solid #e5e7eb;
    background: #fff;
}

.pagination-left {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    color: #374151;

    select {
        height: 32px;
        padding: 4px 8px;
        border-radius: 6px;
        border: 1px solid #d1d5db;
        background: #fff;
        cursor: pointer;
    }
}

.pagination-right {
    display: flex;
    align-items: center;
    gap: 6px;
}

.page-label {
    font-size: 14px;
    font-weight: 500;
    color: #374151;
    min-width: 60px;
    text-align: center;
}