<div class="page-container">

  <!-- FILTER CARD -->
  <div class="filter-card">
    <form [formGroup]="filterForm">

      <div class="form-grid">

        <div class="form-row">
          <label>Start Date</label>
          <input type="date" formControlName="startDate" (change)="onStartDateChange($event)" />
        </div>

        <app-manager-employee-filter [(managerValue)]="selectedManager" [(employeeValue)]="selectedEmployee"
          (managerValueChange)="onManagerChange($event)" (employeeValueChange)="onEmployeeChange($event)">
        </app-manager-employee-filter>

      </div>




    </form>

  </div>
  <app-common-form-action (reset)="reset()" (submit)="onFilterChange()" [resetBtn]="true">
  </app-common-form-action>
  <!-- TABLE CARD -->
  <div class="table-card">

    <div class="table-header">
      <div class="header-left">
        <h3>Attendance View</h3>
        <span class="subtitle">Weekly attendance</span>
      </div>

      <div class="header-right week-nav">
        <button pButton type="button" icon="pi pi-angle-left" class="p-button-rounded p-button-text"
          (click)="prevWeek()">
        </button>

        <span class="week-range">
          {{ weekRangeLabel }}
        </span>


        <button pButton type="button" icon="pi pi-angle-right" class="p-button-rounded p-button-text"
          (click)="nextWeek()">
        </button>

        <app-common-mail-submit [showSubmit]="true" [showReset]="false" (sendWeekly)="commonService.sendWeeklyMail()"
          (sendMonthly)="commonService.sendMonthlyMail()" (submit)="submitAttendance()" (reset)="reset()"
          [submitLabel]="'Save'"></app-common-mail-submit>
      </div>



    </div>

    <div class="table-wrapper">
      <table class="preview-table">
        <thead>
          <tr>
            <th *ngFor="let col of tableColumns">{{ col.label }}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of tableData">
            <td *ngFor="let col of tableColumns">

              <!-- Static cells -->
              <span *ngIf="!isEditable(col.key)">
                {{ row[col.key] || '-' }}
              </span>

              <!-- Editable attendance -->
              <input *ngIf="isEditable(col.key)" class="editable-cell" [class.edited-cell]="isEdited(row, col.key)"
                [(ngModel)]="row.attendance[col.key]" [ngModelOptions]="{ standalone: true }"
                (change)="markEdited(row, col.key)" />

            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination-bar">
        <div class="pagination-left">
          <span>Rows per page</span>

          <select [(ngModel)]="limit" (change)="onLimitChange()">
            <option *ngFor="let size of pageSizeOptions" [value]="size">
              {{ size }}
            </option>
          </select>
        </div>

        <!-- <div class="pagination-right">
          <button pButton icon="pi pi-chevron-left" class="p-button-rounded p-button-text" [disabled]="page === 1"
            (click)="prevPage()">
          </button>

          <span class="page-label">Page {{ page }}</span>

          <button pButton icon="pi pi-chevron-right" class="p-button-rounded p-button-text" (click)="nextPage()">
          </button>
        </div> -->
      </div>


    </div>

  </div>
</div>